:root {
    --blue-color: #1977cc;
}

.bg-blue {
    background-color: var(--blue-color);
}
.py-6 {
    padding: 60px 0;
}
.py-7 {
    padding: 80px 0;
}
.py-8 {
    padding: 100px 0;
}
.fs-7 {
    font-size: 50px;
}
.p-6 {
    padding: 60px;
}

#hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* height: calc(100vh - 112px); */
    height: 100%;
}

.stat-icon{
    height: 46px;
    width: 46px;
    position: absolute;
    left: calc(50% - 23px);
    top: -23px;
}
